GRAFANA_HOST_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-on-host
GRAFANA_ROOT_URL=https://nooook-monitoring.duckdns.org
GRAFANA_DISCORD_WEBHOOK_URL=
GRAFANA_DISCORD_DEV_WEBHOOK_URL=
GRAFANA_DISCORD_PROD_WEBHOOK_URL=
